* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.75em;
}



div > div{

	background-color: grey;
	border: 1px solid black;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	overflow: auto;
}
	
p{
	clear:right;
	padding: 10%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

divh{
	width: 100px;
	float:right;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1.45em;
}	

#s1{
	background-color: pink;
}

#s2{
	background-color: olive;
}

#s3{
	background-color: yellow;
}
@media(min-width: 992px){
	.col-lg-3{
		width: 33.3%;
		float:left;
	}

	div > div{
		width: 90%;
	}
}

@media(min-width: 768px) and (max-width:991px){
	.col-md-6{
		width: 50%;
		float: left;
	}

	.col-md-12{
		width: 100%;
		float: left;
	}

	div.col-md-6 > div{
		width: 90%;
	}

	div.col-md-12 > div{
		width: 95%;
	}

}

@media(max-width: 767px)
{
	.col-lg-12{
		width: 100%;
		float: right;
	}

	div > div{
		width: 90%;
	}
}



